/*Import the fonts used*/
@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
/*Basic reset*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Custom properties*/
:root {
    --dark-color: #2d2c2c;
    --purple-solid: #350a4f;
    --purple-transparent: rgba(53, 10, 79, .7);
    --purple-transparent-alt: rgba(53, 10, 79, .5);
    --purple-light: #8f50fb;
    --yellow-solid: #fa9e2c;
    --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--purple-light));
    --gradient-color-alt: linear-gradient(to right, var(--purple-light), var(--yellow-solid));
}

body, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Arial", sans-serif;
  }
  
  /* 導航欄樣式 */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #4e3a2c; */
    padding: 5px 20px;
  }
  
  .logo img {
    height: 40px;
    object-fit: contain;
  }
  
  nav ul {
    display: flex;
    gap: 20px;
  }
  
  nav ul li a {
    color: #000000; 
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #f0c040; /* 懸停時的金黃色 */
  }